<!DOCTYPE html>

<html>

<head>
	<title>New</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>

<div class="new">
	<h1> Create A Post </h1>
</div>

<form method="POST" action="/fashions">

	<fieldset>
		<label for = "item"> Item: </label> 
		<input 
		id = "name" 
		type = "text"
		placeholder="Enter Name of Fashion item"
		>

	</fieldset>

	<fieldset>
		<label for = "item"> Image: </label> 
		<input 
		id = "form-img" 
		type = "img"
		placeholder="Add Image Link"
		>

	</fieldset>

	<fieldset>
		<label for = "item"> Description: </label> 
		<input 
		id = "name" 
		type = "text"
		placeholder="Enter Description of Fashion Item"
		>

	</fieldset>

	<button class="create"> CREATE ! </button>

</form>

</body>

</html>